<div id="right" class="col-sm-8">

    <div id="posts">

        {{!-- Post Submission --}}
        <div id="submissionContainer">
            <form method="post" action="/add-post" id="submission">

                <h4>Have a question? Ask!</h4>

                <label for="subject">Subject</label>
                <input type="text" name="subject" placeholder="Ex: What cat eat" required/>

                <label for="details">Details</label>
                <textarea rows="10" name="details" placeholder="explain in detail..." required></textarea>

                <label for="petType">Pet Type</label>
                <select id="petType">
                    <option value="dog">Dog</option>
                    <option value="fish">Fish</option>
                    <option value="cat">Bird</option>
                </select>

                <button type="submit" class="btn btn-info" id="submitPostBtn">Post to Timeline</button>

            </form>
        </div>

        <div id="topicSearchContainer">
            <form id="topicSearch" action="/">

                <h4>Search Posts by Pet Type</h4>

                <label for="petType">Pet Type</label>
                <select id="petTypeSearch">
                    <option value="dog">Dog</option>
                    <option value="car">Cat</option>
                    <option value="bird">Bird</option>
                    <option value="fish">Fish</option>
                    <option value="reptile">Reptile</option>
                </select>

                <button type="submit" class="btn btn-info" id="topicSearchBtn">Search</button>

            </form>
        </div>

        {{!-- Latest Discussions --}}
        <div id="latestDiscussionsContainer">

            <h4>Latest Discussions</h4>

            <div id="postsContainer">
                {{#each posts}}
                    <div class="postCard">

                        <div class="postDpContainer">
                            <img class="postDp" src="{{image_url}}" alt="Post User Display Picture"/>
                        </div>
                        <a href="/profile/{{user_id}}">{{first_name}} {{last_name}}</a>

                        <div class="postInfoContainer">

                            <div class="subjectTopicContainer">

                                <div class="subjectContainer">
                                    <h4 class="postSubject">{{subject}}</h4>
                                </div>
                            </div>

                            <div class="postPreviewContainer">
                                <p class="postPreview">{{body}}</p>
                            </div>

                            <div class="dateRepliesContainer">
                                <p class="postDate">{{post_date}}</p>

                                <a href="/" class="postReplies">Replies {{reply_count}}</a>
                            </div>

                        </div>

                    </div>
                {{/each}}

            </div>


        </div>
